AWS_SECRET_ACCESS_KEY=
AWS_REGION=

DYNAMODB_TABLE_NAME=
S3_BUCKET_NAME=

JWT_SECRET=
PHONE_HASH_SALT=
REDIS_URL=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_VERIFY_SERVICE_SID=
TWELVE_DATA_API_KEY=

# Optional variables with defaults
PORT=3000
HOST=0.0.0.0
NODE_ENV=development
