# Node artifact files
node_modules/
dist/

data/

.env

.build/
# Env files
.env
.env.local

# Step Functions local build artifacts
src/step-functions/.build/
src/step-functions/.build/*
src/step-functions/*.zip
